* {
  box-sizing: border-box;
  margin: 0;
}
/* Set up background and content displays */
body {
  background-color: black;
  color: white;
  height: 700px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 25px auto;
  width: 1440px;
}

main {
  background: hsl(229, 57%, 11%);
  background-image: url(/images/bg-desktop.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  height: 800px;
  margin: 100px auto;
  width: 1440px;
  justify-content: center;
  align-items: center;
}

.total-content {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left-content,
.right-content {
  background: hsl(228, 56%, 26%);
}

/* End set up background and content displays */

/* Start of left side content display */

.left-content {
  border-radius: 0.5rem 5rem 0.5rem 0.5rem;
  height: 200px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-group {
  margin: 0 8rem 0 0;
}

.icons {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon-square {
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of left side content display */

/* Start of right side content display */

.right-content {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 150px;
   position: relative; /*relative for quote box positioning */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: end;
}

.data-info {
  margin: 0 3rem;
}

.data-limits {
  display: flex;
  justify-content: space-between;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 8px;
  height: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

/* Speech bubble */

.speech-bubble {
  color: hsl(229, 57%, 11%);
  font-size: 20px;
  height: 65px;
  position: absolute;
  top: -30%;
  left: 68%;
  background: white;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  width: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-number {
  font-size: x-large;
  font-weight: bolder;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 41.5%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-top: 0;
  margin-left: 50px;
  margin-bottom: -20px;
}
/* end speech bubble */

@media screen and (max-width: 375px) {
  body {
    width: 375px;
    margin: 0;
    background: hsl(229, 57%, 11%);
  }
  main {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .total-content {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px 20px;
    gap: 1rem;
  }
  .right-content,
  .left-content {
    width: 100%;
  }

  .speech-bubble {
    top: 85%;
    left: 25%;
    border-bottom-right-radius: 0.5rem;
  }

  .speech-bubble:after {
    display: none;
  }
}
